{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
    <!--css-->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!--네브바 자바-->
    <script src="{% static 'css/main.js' %}" defer></script>
    <!--폰트-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Castoro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Hi+Melody&family=Itim&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <!--폰트어썸 아이콘-->
    <script src="https://kit.fontawesome.com/6e7751ea5a.js" crossorigin="anonymous"></script>


<style>
    .new_box{
        margin: auto;
        height: auto;
        width: 800px;

    }

    .alert-heading{
        text-align: center;
        margin: 10px;
    }

</style>

</head>

<body style="font-family: 'SLEIGothicTTF';"> 
    
    <!--네브바-->
    <nav class="navbar">     

        <ul class="navbar_logo">
            <li><a href="{% url 'home' %}"><i class="fas fa-check-square"></i></a></li>
            <li><a href="{% url 'home' %}" id="rr">Gollaba</a></li>
        </ul>
              
        <ul class="navbar_menu">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">HOME</a>
            </li>
              
            {% if not user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
    
    
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% endif %}
    
            {% if not user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Signup</a>
            </li>
            {% endif %}
              
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'mypage' %}">MYPAGE</a>
              {% endif %}
            </li>
  
          <li><a href="https://twitter.com/TwitterKorea"><i class="fab fa-twitter-square"></i></a></li>
          <li><a href="https://www.instagram.com/"><i class="fab fa-instagram-square"></i></a></li>
           
          </ul>
          <a class="navbar_toggleBtn" href="#"><i class="fas fa-bars"></i></a>
  
    </nav>

<div class="new_box" style="font-family: 'Ubuntu', sans-serif; background: #F5F4F2;">
    <h1 class="alert-heading">🌞Creating Vote🌞</h1>

    <!--폼 시작-->

    <form class="vote" action="{% url 'create' %}" method="post">
        <p> {% csrf_token %}
             {{ form.as_p }}

             <hr>
    ✔후보 1 : <input type = "text" name="hashtags" placeholder="제목"></p>
    ✔후보 2 : <input type = "text" name="hashtags" placeholder="제목"></p>

        <hr>

        <div class="options">
        <p>✔특정 사용자에게만 나의 투표를 노출합니다!</p>
        
        <div class="bigbox" style="display: flex;">

            <div style="display: flex;">
            <p>✔성별 : </p>
            <select name="sex" style="margin-left: 10px;">
                <option value="">여성</option>
                <option value="회사원" selected="selected">남성</option>
                <option value="기타">선택안함</option>
            </select> </div>

            
            <div style="display: flex; margin-left: 20px;">
            <p>✔직업 :</p>
            <select name="job" style="margin-left: 10px;">
                <option value="학생">학생</option>
                <option value="학생">전업주부</option>
                <option value="회사원" selected="selected">직장인</option>
                <option value="기타">선택안함</option>
            </select>
            </div>
        

            <div style="display: flex; margin-left: 20px;;">
            <p>✔나이 : </p>
            <select name="age" style="margin-left: 10px;">
                <option value="학생">10대</option>
                <option value="회사원" selected="selected">20대</option>
                <option value="기타">30대</option>
                <option value="기타">40~60대</option>
                <option value="기타">선택안함</option>
            </select>
            </div>

    </div>

    </div>


    <hr>

    <button class="btn btn-secondary" type="submit" style="margin-left: 10px; margin-bottom: 10px; padding: 5px 15px;">제출</button>

    

</form>
<!--폼 닫기-->
</body>

</div>