.content-box {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.outer {
    width: 1000px;
    background-color: rgb(236, 236, 236);
    padding: 5%;
}

.title {
    display: grid;
    width: 1000px;
}

.body {
    display: grid;
    width: 1000px;
}

.voting {
    background-color: antiquewhite;
    width: 1000px;
    height: 50px;
    margin: 3%;
}

.date {
    font-size: 15px;
    color: black;
}

.comment {
    border: 1px;
    border-style: none;
    padding: 15px;
}

.outer > .hashtag {
    margin: 10px;
    background-color:rgb(255, 255, 255);
}

.content-box {
    margin: 10px;
}

@media screen and (max-width: 768px) {

}