
*{
   
    list-style: none;
    text-decoration: none;
   
    margin: 0px;
    padding: 0px;
    
}

@font-face {
    font-family: 'SLEIGothicTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.navbar{

    font-family: 'Bebas Neue', cursive; /*영어폰트*/

    display: flex;
    
    justify-content: space-around;
    align-items: center;
    
    width: 100%;
    height: 60px;

    
    background-color: #272422;
    
}


.navbar_logo {
    display : flex;
    list-style: none;
    margin: 0;
    
}

.navbar_logo li {
    padding: 4px;
}


.navbar_logo li a {
    color: #D71514;
}

#rr {
    color: ivory;
}


.navbar_menu {
    display : flex;
    list-style: none;
    margin: 0;
}

.navbar_menu li{
    padding: 4px; /*양옆 간격*/
    margin: auto;
}


.navbar_menu li a{
    color: ivory;
}



.navbar_menu li:hover {
    background-color: gray;
    border-radius: 4px;
}


/*제목*/


.header{
    background-image: url("/static/images/back.jpg"); 
    
    background-repeat: no-repeat;
    background-size: cover;
    background-color: honeydew;
    width: 90%;
    margin: auto;
    height: 250px;

    display: flex;
    align-items: center;
}


.intro_text{
    width: 100%;
   /* margin: 231px auto 231px auto; */
    text-align: center;
    justify-content: center;

    align-items: center;

    font-family: 'Bebas Neue', cursive;
}


.intro_text > h1{
    color:white;
    /*margin-bottom: 5px;*/
    font-size: 80px;
    margin: auto;

}

.intro_text > h2{
    color:white;
   
}

@media screen and (max-width: 768px)

