* {
   
    padding: 0;
}

.card_box {
    text-align: center;
    position: relative;
    left: 100px;
    margin-top: 30px;

    padding: 0;

    height: auto;
    width: 100%;

    justify-content: center;
    align-items: center;
    
}


#jb-content {
    width: 400px;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    background-color: #EDECEA; 
    border-radius: 10px;

}


/*
#jb-content {
    width: 250px;
    padding: 40px;
    margin: 20px;
    float: left;
    background-color: rgb(201, 201, 201);
    border: solid;
    border-color: rgb(201, 201, 201);
    border-radius: 20%;
    text-align: center;
}
*/

#jb-content:focus{
    outline: 0;
}

#jb-content:hover{
    background-color: #f8f7f4;
    cursor: pointer;
    box-shadow:0 4px 16px #dfdeddef; 
}
